{
  parser: "babel-eslint",
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-console": 0,
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
   },
  "globals": {
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"]
}
